:root {
	--borderOff: #C1837300;
}

#characters {
	padding-top: 15px;
	border-top: 1px solid var(--border);
}

.characters {
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	display: grid;
	gap: 10px 30px;
	grid-template-columns: 1fr 1fr;
}

.character {
	display: flex;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	border: 1px solid var(--borderOff);
	cursor: pointer;
	justify-content: stretch;
	transition: border-color var(--hoverFade);

	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: left;
		flex-grow: 1;
	}
	
	h3 {
		font-size: 14px;
		margin: 0 0 3px 0 !important;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
	
	p {
		color: inherit;
		font-size: 12px;
	}
	
	.image,
	.noimage {
		width: 70px;
		height: 70px;
		display: block;
		border: 1px solid var(--border);
		border-radius: 5px;
	}
	.noimage {
		background-color: var(--bg);
	}
	.image {
		width: 70px;
		height: 70px;
		background-color: var(--bg);
		background-size: cover;
		display: block;
		border: 1px solid var(--border);
		filter: saturate(0) sepia(0.7) contrast(0.5) brightness(1.5);
		transition: filter var(--hoverFade);
		border-radius: 5px;
		background-size: cover;
	}
	&:hover .image {
		filter: none !important;
	}
}

#slots {
	.character:hover {
		border: 1px dashed var(--border);
	}
	
	.character.active {
		color: var(--strong);
		background: var(--bg);
		border: 1px solid var(--border);
		
		&:after {
			content: "check";
			font-family: var(--icon);
			font-size: 14px;
			font-weight: bold;
			position: absolute;
			top: 5px;
			right: 5px;
		}
	}
}

