.buttons {
	display: flex;
	gap: 10px 30px;
}
.buttons.center {
	justify-content: center;
}
.buttons.right {
	justify-content: flex-end;
}
.buttons.tight {
	gap: 0;
}
.buttons.stretch {
	justify-content: stretch;
}
.buttons.stretch .button,
.buttons.stretch button {
	flex-grow: 1;
	flex-basis: 100%;
	max-width: 200px;
}

.button,
button {
	color: white;
	background: var(--button);
	padding: 5px 0;
	width: 150px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-family: var(--font);
	font-size: 14px;
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: center;
	transition: background-color var(--hoverFade), color var(--hoverFade);
	border-radius: 4px;
		
	&.submit {
		margin: 0 2px;
		border: 1px solid white;
		outline: 2px solid var(--button);
		position: relative;

		p {
			border-radius: 4px;
			white-space: nowrap;
			position: absolute;
			display: none;
			background: var(--bg);
			font-size: 10px;
			padding: 2px 5px;
			bottom: -30px;
			text-transform: initial;
		}

		&:hover {
			outline-color: var(--button);

			p {
				display: block;
			}
		}
	}

	&.minor {
		width: auto;
		padding: 4px 15px;
		outline: none;
		border: none;
		text-transform: none;
	}
}

.button:hover,
button:hover {
	color: var(--strong);
	background: var(--hover);
	text-decoration: none !important;
	/* outline: none; */
}
.button[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
.button span,
button span {
	display: flex;
	gap: 2px;
	align-items: center;
	justify-content: center;
}

a.link {
	color: var(--body);

	&:hover {
		color: var(--strong);
	}
}

.suggestion {
	cursor: pointer;
	color: var(--body);
	text-decoration: none;

	&:hover {
		color: var(--strong);
	}
}

.info {
	color: var(--body);
	display: inline-flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	background: none !important;
	padding: 0;
	width: auto;
	border: none;
	
	&:hover {
		color: var(--strong);
	}

	&:before {
		content: "?";
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--button);
		border: 1px solid var(--button);
		border-radius: 50%;
		font-size: 13px;
		font-weight: bold;
		width: 16px;
		height: 16px;
		font-family: var(--font);
		text-decoration: none;
	}

	&:hover:before {
		background: var(--hover);
	}
}

input[type="file"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.small-buttons {
	display: flex;
	gap: 30px;
	justify-content: space-between;
}

button.busy {
	cursor: wait;
	opacity: .5;
}