:root {
	--borderOff: #C1837300;
}

#characters {
	padding-top: 15px;
	border-top: 1px solid var(--border);
}

#characterBar {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	
	h2 {
		padding: 0;
		flex-grow: 1;
	}

	div {
		display: flex;
		align-items: center;
		gap: 3px;
	}

	a {
		background: var(--button);
		color: white;
		border-radius: 4px;
		padding: 2px;
		font-family: var(--icon);
		font-size: 14px;
		font-weight: bold;
		font-variant: normal;
		font-style: normal;
		cursor: pointer;
		width: 20px;
		text-align: center;

		&:hover {
			color: black !important;
		}
		&.active {
			color: var(--dark);
			background: var(--hover);
		}
	}
}

.characters {
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	display: grid;
	gap: 10px 30px;
	grid-template-columns: 1fr 1fr;
	max-height: 330px;
	overflow: auto;
}

.character {
	display: flex;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
	position: relative;
	border: 1px solid var(--borderOff);
	cursor: pointer;
	justify-content: stretch;
	transition: border-color var(--hoverFade);

	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: left;
		flex-grow: 1;
	}
	
	h3 {
		font-size: 14px;
		margin: 0 0 3px 0 !important;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
	
	p {
		color: inherit;
		font-size: 12px;
	}
	
	.image,
	.noimage {
		width: 70px;
		height: 70px;
		display: block;
		border: 1px solid var(--border);
		border-radius: 5px;
	}
	.noimage {
		background-color: var(--bg);
	}
	.image {
		width: 70px;
		height: 70px;
		background-color: var(--bg);
		background-size: cover;
		display: block;
		border: 1px solid var(--border);
		filter: saturate(0) sepia(0.7) contrast(0.5) brightness(1.5);
		transition: filter var(--hoverFade);
		border-radius: 5px;
		background-size: cover;
	}
	&:hover .image {
		filter: none !important;
	}

	a.favourite {
		display: none;
		font-family: var(--icon);
		font-size: 14px;
		font-weight: bold;
		position: absolute;
		top: 5px;
		right: 5px;

		&:hover {
			color: var(--strong);
		}

		&.favourited {
			font-family: var(--iconFilled);
		}
	}

	.gender {
		display: none;
		position: absolute;
		top: 30px;
		right: 5px;
	}
}

.filterFavourites.active {
	font-family: var(--iconFilled) !important;
}

#characters:has(.filterFavourites.active) {
	.character:not(:has(.favourited)) {
		display: none;
	}
}

#characters:has(#girls.active) {
	.character:not([data-gender="girl"]) {
		display: none;
	}
}
#characters:has(#boys.active) {
	.character:not([data-gender="boy"]) {
		display: none;
	}
}

#slots {
	margin: 0 -20px 0 -10px;
	padding-right: 10px;

	.favourite,
	.gender {
		display: block;
	}

	.character:hover {
		border: 1px dashed var(--border);
	}
	
	.character.active {
		color: var(--strong);
		background: var(--bg);
		border: 1px solid var(--border);
	}
}

