@media print {
	:root {
	  --heading: black;
	  --body: black;
	  --border: black;
	  --strong: black;
	}

	#toolbar {
		display: none !important;
	}

	body {
		padding: 0;
	}

	h1 {
		min-height: auto;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid black;
	}
	h1 span {
		color: var(--body);
		font-size: 30px;
		opacity: 1;
		text-shadow: none;
		padding: 0;
	}
	h1 span:before {
		display: none;
	}

	#form {
		display: none !important;
	}

	#generate {
		display: none !important;
	}

	#show {
		display: flex !important;
		gap: 10px;
	}

	#show_picture {
		border: 1px solid black;
		outline: none;

		span,
		&:before,
		&:after {
			display: none;
		}
	}

	#show_image {
		width: 150px;
		filter: saturate(0);

		&:after {
			display: none;
		}
	}

	#characters {
		display: none !important;
	}

	.conditions li {
		font-size: 12px;
	}

	.health input {
		display: none;
	}

	.health ul li:before {
		content: "";
		display: block;
		width: 50px;
		height: 30px;
		border: 2px solid black;
	}

	button, .button, .info {
		display: none;
	}

	.noprint {
		display: none;
	}

	#floater {
		display: none;
	}
	
	footer {
		display: none;
	}
}
